

.header-image {
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s972706b32c93614e/backgroundarea/i8bad38837df7ad31/version/1492867426/image.jpg);
  background-position: 49.5859% 7.24677%;
}

.custom-header {
  padding: 420px 20px 23px;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar { padding: 0px; }

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  background-color: #f1f1f1;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 2rem;
}
