<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/mapit-logo.png" width="100" height="80" alt="Mapit">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" (click)="toggleNavbar = !toggleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="toggleNavbar">
      <ul class="navbar-nav " id="navbarResponsive">
        <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Términos</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Privacidad</a></li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#">Log In</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="custom-header header-image"></div>
