<div class="container">
  <div class="card-deck">
    <div class="card custom-card card-shadow rounded-0" *ngFor="let product of products">
      <div class="card-body">
        <h4 class="card-title"> {{product.id}} </h4>
        <div class="card-text">
          <table class="table table-hover">
            <tr>
              <td class="table-active">Modelo</td>
              <td class="table-light"> {{product.modelo}}</td>
            </tr>
            <tr>
              <td class="table-active">Fecha de compra</td>
              <td class="table-light"> {{product.fechaCompra}}</td>
            </tr>
          </table>
        </div>
        <div class="text-center"><button type="button" class="btn btn-custom btn-sm rounded-0" (click)="openModal(content, product.id, product.fechaCompra, product.precioCompra)">Solicitar Precio</button></div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 days ago</small>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Oferta de Compra</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>El precio aproximado calculado de recompra, es de:
      <h6 class="display-4 text-center">{{ precioProd }}€</h6>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-custom btn-sm rounded-0">Solicitar Cita</button>
    <button type="button" class="btn btn-light btn-sm rounded-0" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
