
.card-deck .custom-card {
  margin-top: -25px;
  margin-bottom: 10px;
}

.btn-custom {
  color: #fff;
  background-color: #e40521;
  border-color: #e40521;

  &:hover{
    color: #fff;
    background-color: #b90017;
    border-color: #b90017;
  }
}

.card-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
