/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

@media (max-width: 768px) {
  .card-deck {
    flex-flow: column;

    .custom-card { margin-bottom: 50px !important; }
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px !important;
    text-align: center;
  }
}

